@keyframes test {
  10% {
    transform: translateX(100px);
  }
  20% {
    transform: translateY(500px) translateX(180px);
    width: 115px;
    height: 100px;
  }
  30% {
    transform: translateY(80px) translateX(280px);
    width: 100px;
    height: 115px;
  }
  40% {
    transform: translateY(500px) translateX(380px);
    width: 115px;
    height: 100px;
  }
  50% {
    transform: translateY(200px) translateX(440px);
    width: 100px;
    height: 115px;
  }
  60% {
    transform: translateY(500px) translateX(520px);
    width: 115px;
    height: 100px;
  }
  70% {
    transform: translateY(280px) translateX(600px);
    width: 100px;
    height: 115px;
  }
  80% {
    transform: translateY(500px) translateX(700px);
    width: 110px;
    height: 100px;
  }
  90% {
    transform: translateY(450px) translateX(730px);
  }
  100% {
    transform: translateY(500px) translateX(750px);
  }
}
body {
  background-color: lightgreen;
}
.container {
  margin: 0 auto;
  width: 1345px;
}
#mybox {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border-radius: 50%;
  animation-name: test;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  border: 1px solid black;
}
#line {
  width: 100px;
  height: 10px;
  background-color: gray;
  margin-top: 10px;
  border-radius: 20px;
  position: absolute;
  top: 18%;
}
